# CLIP, PyTorch ==============

--index-url https://download.pytorch.org/whl/cu126
--extra-index-url https://pypi.org/simple

torch
torchvision

ftfy
regex
tqdm

git+https://github.com/openai/CLIP.git


# fast api ===================

fastapi[standard]==0.113.0
